@{
    ViewData["Title"] = "Contact Me";
}
<h1>@ViewData["Title"]</h1>

<img src="http://lorempixel.com/output/city-q-c-550-250-4.jpg" alt="Lucid Coding Tutorials" />

<p>Blow the man down nipper measured fer yer chains gibbet bounty avast warp quarter cable cog Admiral of the Black. Plunder chandler clipper black jack grog blossom nipperkin nipper capstan trysail lateen sail gun. Flogging lugsail maroon long clothes knave Arr lee keel bilge rat come about capstan.</p>

<p>Hang the jib Sail ho lanyard Jolly Roger Jack Ketch Blimey Gold Road brigantine sheet strike colors cable. Landlubber or just lubber aft sheet gangplank belay carouser Blimey holystone swing the lead chantey hands. Brig killick clipper hempen halter quarter clap of thunder hardtack scuttle provost chase guns lad.</p>