@{
    ViewData["Title"] = "LucidCodingTutorials.com";
}

<div class="text-center">
    <h1 class="display-4">LucidCodingTutorials.com</h1>
    <h4>Pragmatic web programming tutorials explained clearly, step by step!</h4>

    <img src="http://lorempixel.com/output/business-q-c-750-250-8.jpg" alt="Lucid Coding Tutorials" />
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <p>Handsomely reef sails hearties belay gangway Pieces of Eight grog blossom rigging crimp interloper boatswain jack trysail no prey, no pay. Scuppers ballast strike colors hornswaggle crimp cackle fruit knave driver snow clipper chase guns square-rigged Nelsons folly Privateer. Port holystone mizzenmast tender landlubber or just lubber overhaul chantey ho fluke nipperkin execution dock yardarm bilge pink.</p>
    <p>Grog blossom stern American Main wherry Plate Fleet crow's nest lad heave to smartly cackle fruit ho list careen lateen sail. Bucko pink wherry run a shot across the bow cackle fruit boatswain rigging hardtack blow the man down come about Blimey bounty snow gaff. Red ensign driver dead men tell no tales gangway plunder topsail Spanish Main Admiral of the Black Barbary Coast loaded to the gunwalls provost haul wind hearties crimp.

</p>
</div>
