@{
    ViewData["Title"] = "Code Portfolio";
}
<h1>@ViewData["Title"]</h1>

<img src="http://lorempixel.com/output/city-q-c-550-250-5.jpg" alt="Lucid Coding Tutorials" />

<p>Gangway list Shiver me timbers flogging hornswaggle interloper ye chantey hang the jib swing the lead loot rum long boat log. Spanish Main brigantine smartly furl gaff chase measured fer yer chains lugsail barkadeer landlubber or just lubber hardtack tackle Jack Ketch Jolly Roger. Pieces of Eight spanker spyglass cutlass Sea Legs marooned coxswain ye bucko black spot strike colors no prey, no pay Blimey deadlights.</p>

<p>Jolly Roger smartly snow maroon Spanish Main loot to go on account gally Buccaneer Plate Fleet spanker hulk cutlass run a shot across the bow. Gangway fire ship topmast measured fer yer chains pressgang cable belay scurvy Pirate Round clipper Gold Road gunwalls scallywag spirits. Hempen halter hulk ballast long boat take a caulk reef cable wench lugger broadside doubloon knave code of conduct lugsail.</p>
